/* Header.css */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee+Spice&display=swap');

.header {
  padding: 20px;
  text-align: center;
  margin-bottom: 1rem;
}

.title {
  font-size: 3.5rem;
  color: #ecf0f1;
  /* Manteniendo el color del texto en blanco para contraste */
  margin: 0;
  /* Eliminando el margen por defecto del h1 */
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 5px;
  /* Añadiendo un espaciado entre letras */
  text-transform: uppercase;
  /* Convirtiendo el texto a mayúsculas */
  transition: color 0.3s ease-in-out;
  /* Agregando una transición suave al color del texto */
  user-select: none;
}