.App {
  text-align: center;
  background-color: #282c34;
}

body {
  background-color: #282c34; /* Set your desired background color */
  margin: 0; /* Remove default body margin */
  font-family: 'Arial', sans-serif; /* Optionally set a default font-family */
}